<!DOCTYPE html>
<html>
<head>
    <title>IPL Betting</title>
</head>
<body>

<h2>IPL Bet Entry</h2>

<form method="POST">

    Name:
    <select name="name">
        <option>Rizzettan</option>
        <option>Sazu settan</option>
        <option>Noel Pappan</option>
        <option>Chackochi</option>
        <option>Annachi</option>
    </select>
    <br><br>

    Team:
    <select name="team">
        <option>CSK</option>
        <option>MI</option>
        <option>RCB</option>
        <option>KKR</option>
        <option>RR</option>
    </select>
  
  <br><br>

    Amount:
    <input type="number" name="amount">
    <br><br>

    <button type="submit">Submit</button>

</form>
</body>
</html>